<h4 class="mb-3">SERVICES</h4>
<div class="row">
    <div class="col-md-4">
        <div>
            <label class="container-c">Company registration in Estonia
              <input type="checkbox"  ng-model="$ctrl.services.cmpRegInEst">
              <span class="checkmark-c"></span>
            </label>
        </div>
        <div>
            <label class="container-c">Legal address service
              <input type="checkbox"  ng-model="$ctrl.services.legAdrServ">
              <span class="checkmark-c"></span>
            </label>
        </div>
        <div>
            <label class="container-c">Authorised contact person services
              <input type="checkbox"  ng-model="$ctrl.services.authPersServ">
              <span class="checkmark-c"></span>
            </label>
        </div>
        <div>
            <label class="container-c">Accounting services
              <input type="checkbox"  ng-model="$ctrl.services.accServ">
              <span class="checkmark-c"></span>
            </label>
        </div>
        <div>
            <label class="container-c">Bank account opening
              <input type="checkbox"  ng-model="$ctrl.services.bankAccOpen">
              <span class="checkmark-c"></span>
            </label>
        </div>
        <div>
            <label class="container-c">VAT registration
              <input type="checkbox"  ng-model="$ctrl.services.vatReg">
              <span class="checkmark-c"></span>
            </label>
        </div>
    </div>
</div>
<hr class="mb-4">
