<div class="row justify-content-center">
    <div class="col-md-10">
        <br>
        <div class="row">
            <div class="col">
                <h4 style="text-align:center">PRO FORMA INVOICE</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr><td>{{$ctrl.inv.company.name}}</td></tr>
                    <tr><td>{{$ctrl.inv.company.address}}</td></tr>
                    <tr><td>{{$ctrl.inv.company.postcode}} {{$ctrl.inv.company.city}} {{$ctrl.inv.company.country}}</td></tr>
                    <tr><td>Reg: {{$ctrl.inv.company.reg}}</td></tr>
                    <tr><td>Tax number: {{$ctrl.inv.company.taxNumber}}</td></tr>
                    <tr><td>VAT: {{$ctrl.inv.company.VAT}}</td></tr>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tr><td>Date: {{$ctrl.getFormatedDate()}}</td></tr>
                    <tr><td>Due date: {{$ctrl.getFormatedDueDate()}}</td></tr>
                    <tr><td>Pro forma invoice number: {{$ctrl.inv.company.invoiceNumber}}</td></tr>
                    <tr><td>Reference number: {{$ctrl.inv.company.referenceNumber}}</td></tr>
                </table>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr><th>Customer</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Name: {{$ctrl.inv.customer.name}}</td></tr>
                        <tr><td>Address: {{$ctrl.inv.customer.address}}</td></tr>
                        <tr><td>Post Code, City: {{$ctrl.inv.customer.postcode}}, {{$ctrl.inv.customer.city}}</td></tr>
                        <tr><td>Country: {{$ctrl.inv.customer.country}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Description</th>
                      <th>Qty</th>
                      <th>Unit price</th>
                      <th>Tax</th>
                      <th>Total amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="srv in $ctrl.inv.services.list">
                      <td>{{srv.service}}</td>
                      <td>{{srv.description}}</td>
                      <td>{{srv.qty}}</td>
                      <td>{{srv.unitPrice}}</td>
                      <td>{{srv.tax}}</td>
                      <td>{{srv.total}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <h4>Terms and conditions:</h4>
                <ul>
                    <li>
                        Price does not include any additional documents or shipping. For additional services, please contact us at <a href="mailto:info@hshaus.com">info@hshaus.com</a>
                    </li>
                    <li>
                        The order will be processed after the full payment as well as all necessary due diligence documentation have been received by HandelsHaus. Please find our due diligence requirements at <a href="https://hshaus.com/due-diligence">hshaus.com/due-diligence</a>
                    </li>
                </ul>
                <h4>Banking details:</h4>
                <ul class="none-list">
                    <li>Handelshaus OÜ</li>
                    <li>Bank:</li>
                    <li>IBAN:</li>
                    <li>SWIFT:</li>
                    <li>Please quote pro forma invoice number <b>({{$ctrl.inv.company.invoiceNumber}})</b> in the payment reference.</li>
                </ul>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Sub total</th>
                            <td>{{$ctrl.inv.services.total}}</td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>{{$ctrl.inv.services.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>For any questions related to this pro forma invoice please contact us at <a href="mailto:info@hshaus.com">info@hshaus.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{$ctrl.inv.pdf.link}}" class="btn btn-secondary btn-lg" role="button">PDF</a>
            </div>
        </div>
    </div>
</div>



