<div class="row justify-content-center">
    <div class="col-md-10">
        <br>
        <div class="row">
            <div class="col">
                <h4 style="text-align:center">PRO FORMA INVOICE</h4>
            </div>
        </div>
        <br>
        {{$ctrl.inv.pdf.link}}
        <div class="row">
            <div class="col">
                <table class="table">
                    <tr><td>Handelshaus OÜ</td></tr>
                    <tr><td>7 Pikk Street, Office 5</td></tr>
                    <tr><td>10123 Tallinn Estonia</td></tr>
                    <tr><td>Reg:</td></tr>
                    <tr><td>Tax number:</td></tr>
                    <tr><td>VAT:</td></tr>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tr><td>Date:</td></tr>
                    <tr><td>Due date:</td></tr>
                    <tr><td>Pro forma invoice number:</td></tr>
                    <tr><td>Reference number:</td></tr>
                </table>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr><th>Customer:</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Name:</td></tr>
                        <tr><td>Address:</td></tr>
                        <tr><td>Post Code, City:</td></tr>
                        <tr><td>Country:</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Description</th>
                      <th>Qty</th>
                      <th>Unit price</th>
                      <th>Tax</th>
                      <th>Total amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>LR1j2l</td>
                      <td>Company Registration In Estonia</td>
                      <td>1</td>
                      <td>10</td>
                      <td>-</td>
                      <td>10.00</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <h4>Terms and conditions:</h4>
                <ul>
                    <li>
                        Price does not include any additional documents or shipping. For additional services, please contact us at <a href="mailto:info@hshaus.com">info@hshaus.com</a>
                    </li>
                    <li>
                        The order will be processed after the full payment as well as all necessary due diligence documentation have been received by HandelsHaus. Please find our due diligence requirements at <a href="https://hshaus.com/due-diligence">hshaus.com/due-diligence</a>
                    </li>
                </ul>
                <h4>Banking details:</h4>
                <ul class="none-list">
                    <li>Handelshaus OÜ</li>
                    <li>Bank:</li>
                    <li>IBAN:</li>
                    <li>SWIFT:</li>
                    <li>Please quote pro forma invoice number (>> copy of pro forma invoice number) in the payment reference.</li>
                </ul>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Sub total</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>10.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>For any questions related to this pro forma invoice please contact us at <a href="mailto:info@hshaus.com">info@hshaus.com</a></p>
            </div>
        </div>
    </div>
</div>



