<h4 class="mb-3">COMPANY</h4>

<div class="row">
    <div class="col-md-4 mb-3">
      <label>Option 1 *</label>
      <input ng-model="$ctrl.company.option1" type="text" class="form-control" placeholder="Company name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Option 2</label>
      <input ng-model="$ctrl.company.option2" type="text" class="form-control" placeholder="Company name">
    </div>
    <div class="col-md-4 mb-3">
      <label>Option 3</label>
      <input ng-model="$ctrl.company.option3" type="text" class="form-control" placeholder="Company name">
    </div>
</div>
<h6 class="mb-3">BUSINESS ACTIVITY</h6>

<div class="row">
    <div class="col-md-6 mb-3">
      <label>Planned business activity</label>
      <input ng-model="$ctrl.company.activity" type="text" class="form-control" placeholder="Planned business activity">
    </div>
    <div class="col-md-6 mb-3">
      <label>Location of operation</label>
      <input ng-model="$ctrl.company.location" type="text" class="form-control" placeholder="Location of operation">
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
      <label>Country from which business will be managed</label>
      <input ng-model="$ctrl.company.country" type="text" class="form-control" placeholder="Country from which business will be managed">
    </div>
    <div class="col-md-6 mb-3">
      <label>Estimated annual turnover</label>
      <input ng-model="$ctrl.company.turnover" type="text" class="form-control" placeholder="Estimated annual turnover">
    </div>
</div>


<hr class="mb-4">