<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <div class="col">
                <h4 style="text-align:center">PREVIEW</h4>
            </div>
            <br />
        </div>

        <div class="row">
            <div class="col">
                <h4>SERVICES</h4>
                <div class="span-list">
                    <span ng-show="$ctrl.services.cmpRegInEst">Company registration in Estonia<br/></span>
                    <span ng-show="$ctrl.services.legAdrServ">Legal address service<br/></span>
                    <span ng-show="$ctrl.services.authPersServ">Authorised contact person services<br/></span>
                    <span ng-show="$ctrl.services.accServ">Accounting services<br/></span>
                    <span ng-show="$ctrl.services.bankAccOpen">Bank account opening<br/></span>
                    <span ng-show="$ctrl.services.vatReg">VAT registration<br/></span>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <h4>APPLICANT</h4>
                <div class="span-list">
                    <span style='text-decoration:underline'>{{$ctrl.applicant.fullName}}<br/></span>
                    <span ng-show="ctrl.applicant.dob">{{$ctrl.applicant.dob}}<br/></span>
                    <span>Tax residency: {{$ctrl.applicant.taxResidency}}<br/></span>
                    <span ng-show="ctrl.applicant.numbOfShares">Number or % of shares: {{$ctrl.applicant.numbOfShares}}<br/></span>
                    <span>{{$ctrl.applicant.residentalAddress}}<br/></span>
                    <span>{{$ctrl.applicant.postCode}}<br/></span>
                    <span>{{$ctrl.applicant.city}}<br/></span>
                    <span>{{$ctrl.applicant.country}}<br/></span>
                    <span>{{$ctrl.applicant.email}}<br/></span>
                    <span>{{$ctrl.applicant.phone}}</span>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <h4>COMPANY</h4>
                <div class="span-list">
                    <span>Name option 1: {{$ctrl.company.option1}}</br></span>
                    <span>Name option 2: {{$ctrl.company.option2}}</br></span>
                    <span>Name option 3: {{$ctrl.company.option3}}</br></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4>BUSINESS ACTIVITY</h4>
                <div class="span-list">
                    <span>Planned business activity: {{$ctrl.company.activity}}</br></span>
                    <span>Country from which business will be managed: {{$ctrl.company.country}}</br></span>
                    <span>Location of operation: {{$ctrl.company.location}}</br></span>
                    <span>Estimated annual turnover: {{$ctrl.company.turnover}}</br></span>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <h4>COMPANY STRUCTURE</h4>
            </div>
        </div>

        <div class="row" ng-show="$ctrl.structure.getAllDirectorsCount()>0">
            <div class="col">
                <h5>DIRECTORS</h5>
                <div ng-repeat="dir in $ctrl.structure.getAllDirectors()" class="span-list">
                    <span style='text-decoration:underline'>{{dir.fullName}}<br/></span>
                    <span ng-show="dir.dob">{{dir.dob}}<br/></span>
                    <span>Tax residency: {{dir.taxResidency}}<br/></span>
                    <span ng-show="dir.numbOfShares">Number or % of shares: {{dir.numbOfShares}}<br/></span>
                    <span>{{dir.residentalAddress}}<br/></span>
                    <span>{{dir.postCode}}<br/></span>
                    <span>{{dir.city}}<br/></span>
                    <span>{{dir.country}}<br/></span>
                    <span>{{dir.email}}<br/></span>
                    <span>{{dir.phone}}</span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="$ctrl.structure.getAllShareholdersCount()>0">
            <div class="col">
                <h5>SHAREHOLDERS</h5>
                <div ng-repeat="shr in $ctrl.structure.getAllShareholders()" class="span-list">
                    <span style='text-decoration:underline'>{{shr.fullName}}<br/></span>
                    <span ng-show="shr.dob">{{shr.dob}}<br/></span>
                    <span>Tax residency: {{shr.taxResidency}}<br/></span>
                    <span ng-show="shr.numbOfShares">Number or % of shares: {{shr.numbOfShares}}<br/></span>
                    <span>{{shr.residentalAddress}}<br/></span>
                    <span>{{shr.postCode}}<br/></span>
                    <span>{{shr.city}}<br/></span>
                    <span>{{shr.country}}<br/></span>
                    <span>{{shr.email}}<br/></span>
                    <span>{{shr.phone}}<br/></span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="$ctrl.structure.getAllBeneficialsCount()>0">
            <div class="col">
                <h5>BENEFICIALS</h5>
                <div ng-repeat="ben in $ctrl.structure.getAllBeneficials()" class="span-list">
                    <span style='text-decoration:underline'>{{ben.fullName}}<br/></span>
                    <span ng-show="ben.dob">{{ben.dob}}<br/></span>
                    <span>Tax residency: {{ben.taxResidency}}<br/></span>
                    <span ng-show="ben.numbOfShares">Number or % of shares: {{ben.numbOfShares}}<br/></span>
                    <span>{{ben.residentalAddress}}<br/></span>
                    <span>{{ben.postCode}}<br/></span>
                    <span>{{ben.city}}<br/></span>
                    <span>{{ben.country}}<br/></span>
                    <span>{{ben.email}}<br/></span>
                    <span>{{ben.phone}}<br/></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>In respect of this application, is or has the applicant, director, shareholder, beneficial owner or a close relative (living or deceased) ever been a politically exposed person?</p>
                <b>{{$ctrl.question.politicallyExposed}}</b>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-lg" ng-click="$ctrl.close()">Back</button>
                <button class="btn btn-secondary btn-lg" ng-click="$ctrl.submit()">Submit</button>
            </div>
            <div class="col-md-auto">
                <div class="alert alert-success" ng-show="$ctrl.response=='ok'">
                    <strong>Success!</strong> You can <a href="#!/summary" class="alert-link">see your invoice</a>.
                </div>
                <!--<div class="alert alert-danger" ng-show="$ctrl.response=='error'">-->
                <div class="alert alert-danger" ng-show="$ctrl.response=='error'">
                    <strong>Error!</strong> Remote server is not responding.
                </div>
            </div>
        </div>

    </div>
</div>
