<h4>COMPANY STRUCTURE</h4>

<div class="row">
    <div class="col">
        <h5>DIRECTORS</h5>
        <b>Number of directors: {{$ctrl.getAllDirectorsCount()}}</b>
    </div>
</div>
<person who="$ctrl.applicant" ng-show="$ctrl.applicant.isDirector"></person>
<div ng-repeat="director in $ctrl.structure.getAllDirectors()">
    <person who="director"></person>
    <br />
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-secondary" ng-click="$ctrl.addDirector()">ADD DIRECTOR</button>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <h5>SHAREHOLDERS</h5>
        <b>Number of shareholders: {{$ctrl.getAllShareholdersCount()}}</b>
    </div>
</div>
<person who="$ctrl.applicant" ng-show="$ctrl.applicant.isShareholder"></person>
<div ng-repeat="shareholder in $ctrl.structure.getAllShareholders()">
    <person who="shareholder"></person>
    <br />
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-secondary" ng-click="$ctrl.addShareholder()">ADD SHAREHOLDER</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <h5>BENEFICIAL OWNERS</h5>
        <b>Number of beneficial owners: {{$ctrl.getAllBeneficialsCount()}}</b>
    </div>
</div>
<person who="$ctrl.applicant" ng-show="$ctrl.applicant.isBeneficial"></person>
<div ng-repeat="beneficial in $ctrl.structure.getAllBeneficials()">
    <person who="beneficial"></person>
    <br />
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-secondary" ng-click="$ctrl.addBeneficial()">ADD BENEFICIAL OWNER</button>
    </div>
</div>
<br/>
<hr>
