<h4>COMPANY STRUCTURE</h4>

<div class="row">
    <div class="col-md-3">
        <h5>DIRECTORS</h5>
    </div>
    <div class="col-md-2">
        <div class="btn-group" role="group1">
            <button type="button" class="btn" ng-click="$ctrl.structure.removeDirector()"><span class="fa fa-lg fa-trash"></span></button>
            <button type="button"  class="btn">{{$ctrl.structure.directors.length}}</button>
            <button type="button" class="btn" ng-click="$ctrl.structure.addDirector()"><span class="fa fa-lg fa-user-plus"></span></button>
        </div>
    </div>
</div>
<div ng-repeat="director in $ctrl.structure.directors">
    <person who="director"></person>
</div>

<div class="row">
    <div class="col-md-3">
        <h5>SHAREHOLDERS</h5>
    </div>
    <div class="col-md-2">
        <div class="btn-group" role="group2">
            <button type="button" class="btn" ng-click="$ctrl.structure.removeShareholder()"><span class="fa fa-lg fa-trash"></span></button>
            <button type="button"  class="btn">{{$ctrl.structure.shareholders.length}}</button>
            <button type="button" class="btn" ng-click="$ctrl.structure.addShareholder()"><span class="fa fa-lg fa-user-plus"></span></button>
        </div>
    </div>
</div>
<div ng-repeat="shareholder in $ctrl.structure.shareholders">
    <person who="shareholder"></person>
</div>

<div class="row">
    <div class="col-md-3">
        <h5>BENEFICIALS</h5>
    </div>
    <div class="col-md-2">
        <div class="btn-group" role="group3">
            <button type="button" class="btn" ng-click="$ctrl.structure.removeBeneficial()"><span class="fa fa-lg fa-trash"></span></button>
            <button type="button"  class="btn">{{$ctrl.structure.beneficials.length}}</button>
            <button type="button" class="btn" ng-click="$ctrl.structure.addBeneficial()"><span class="fa fa-lg fa-user-plus"></span></button>
        </div>
    </div>
</div>
<div ng-repeat="beneficial in $ctrl.structure.beneficials">
    <person who="beneficial"></person>
</div>
