<div class="row">
    <div class="person col">
        <div class="row">
            <div class="col">
                <label class="text-muted">Add this person as a </label>
            </div>
            <div class="col">
                <label class="container-c">Director
                  <input type="checkbox"  ng-model="$ctrl.who.isDirector">
                  <span class="checkmark-c"></span>
                </label>
            </div>
            <div class="col">
                <label class="container-c">Shareholder
                  <input type="checkbox"  ng-model="$ctrl.who.isShareholder">
                  <span class="checkmark-c"></span>
                </label>
            </div>
            <div class="col">
                <label class="container-c">Beneficial owner
                  <input type="checkbox"  ng-model="$ctrl.who.isBeneficial">
                  <span class="checkmark-c"></span>
                </label>
            </div>
            <div class="col-md-4" ng-hide="$ctrl.who.isApplicant" style="text-align:left">
                <label class="text-muted"> if applicable and you have not already done so. </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Name *</label>
                <input ng-model="$ctrl.who.fullName" name="fullName" type="text" class="form-control" placeholder="Name Surname" required>
            </div>
            <div class="col" ng-show="$ctrl.who.isInCompany()">
                <label>D.O.B.</span></label>
                <input class="form-control" format="DD/MM/YYYY" ng-model="$ctrl.who.dob" ng-model-options="{ updateOn: 'blur' }" placeholder="Date of birth" moment-picker="$ctrl.who.dob">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Tax residency *</label>
                <select ng-model="$ctrl.who.taxResidency" class="form-control"  pvp-country-picker="name" required>
                </select>
            </div>
            <div class="col" ng-show="$ctrl.who.isApplicant">
                <label>Residential address *</label>
                <input ng-model="$ctrl.who.residentalAddress" type="text" class="form-control" placeholder="Residential address" required>
            </div>
            <div class="col" ng-hide="$ctrl.who.isApplicant">
                <label>Address *</label>
                <input ng-model="$ctrl.who.residentalAddress" type="text" class="form-control" placeholder="Address" required>
            </div>
        </div>
        <div class="row">
            <div class="col" ng-show="$ctrl.who.isShareholder">
                <label>Number or % of shares</label>
                <input ng-model="$ctrl.who.numbOfShares" type="text" class="form-control" placeholder="Number or % of shares">
            </div>
            <div class="col">
                <label>Postcode *</label>
                <input ng-model="$ctrl.who.postCode" type="text" class="form-control" placeholder="Postcode" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>City *</label>
                <input ng-model="$ctrl.who.city" type="text" class="form-control" placeholder="City" required>
            </div>
            <div class="col">
                <label>Country *</label>
                <select ng-model="$ctrl.who.country" class="form-control" pvp-country-picker="name" required></select>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.who.isApplicant">
            <div class="col">
                <label for="email">E-mail</label>
                <input ng-model="$ctrl.who.email" type="email" class="form-control" placeholder="you@example.com">
            </div>
            <div class="col">
                <label>Telephone</label>
                <input ng-model="$ctrl.who.phone" type="text" class="form-control" placeholder="Telephone">
            </div>
        </div>
    </div>
</div>
