<div class="form-row applicant-wrap">
    <h3>{{$ctrl.who.getHeader().toUpperCase()}}</h3>
    <!--
    <div class="input-wrap checkbox-wrap">
        <div><h4>Person also can be...</h4></div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isDirector" id="$ctrl.who.uuid" ng-true-value>
            <label for="$ctrl.who.uuid+'director'"><h4>Director</h4></label>
        </div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isShareholder" id="$ctrl.who.uuid+'shareholder'" >
            <label for="$ctrl.who.uuid+'shareholder'"><h4>Shareholder</h4></label>
        </div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isBeneficial" id="$ctrl.who.uuid+'beneficial'" >
            <label for="$ctrl.who.uuid+'beneficial'"><h4>Beneficial owner</h4></label>
        </div>
    </div>
    -->
    <div class="input-wrap checkbox-wrap">
        <div><h4>Person also can be...</h4></div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isDirector">
        </div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isShareholder">
        </div>
        <div class="radiobutton-item clearfix">
            <input type="checkbox" ng-model="$ctrl.who.isBeneficial">
        </div>
    </div>
    <div class="input-wrap">
        <label for="applicantName"><h4>Name</h4></label>
        <input ng-model="$ctrl.who.fullName" type="text" name="applicantName" placeholder="Name Surname" required>
    </div>
    <div class="input-wrap">
        <label for="applicantTaxResidency"><h4>Tax residency</h4></label>
        <input ng-model="$ctrl.who.taxResidency" type="text" name="applicantTaxResidency" list="countrylist"   placeholder="Type country...">
        <ngcountries></ngcountries>
    </div>
    <div class="input-wrap residental-address">
        <label for="applicantResidentialAddress"><h4>Residential address</h4></label>
        <input ng-model="$ctrl.who.residentalAddress" type="text" name="applicantResidentialAddress" placeholder="Residential address">
    </div>
    <div class="input-wrap" ng-show="$ctrl.isShareholder">
        <label for="applicantNumberOfShares"><h4>Number or % of shares</h4></label>
        <input ng-model="$ctrl.who.numbOfShares" type="text" name="applicantNumberOfShares" placeholder="Number or % of shares">
    </div>
    <div class="input-wrap" ng-show="$ctrl.who.isInCompany()">
        <label for="applicantDOB"><h4>D.O.B.</h4></label>
        <input ng-model="$ctrl.who.dob" type="text" name="applicantDOB"  placeholder="Date of birth">
    </div>
    <div class="input-wrap">
        <label for="applicantPostcode"><h4>Postcode</h4></label>
        <input ng-model="$ctrl.who.postCode" type="text" name="applicantPostcode" placeholder="Postcode">
    </div>
    <div class="input-wrap">
        <label for="applicantCity"><h4>City</h4></label>
        <input ng-model="$ctrl.who.city" type="text" name="applicantCity" placeholder="City">
    </div>
    <div class="input-wrap">
        <label for="applicantCountry"><h4>Country</h4></label>
        <input ng-model="$ctrl.who.country" type="text" name="applicantCountry" list="countrylist"   placeholder="Type country...">
        <ngcountries></ngcountries>
    </div>
    <div class="input-wrap">
        <label for="applicantEmail"><h4>E-mail</h4></label>
        <input ng-model="$ctrl.who.email" type="email" name="applicantEmail" placeholder="E-mail" required>
    </div>
    <div class="input-wrap">
        <label for="applicantTelephone"><h4>Telephone</h4></label>
        <input ng-model="$ctrl.who.phone" type="tel" name="applicantTelephone"  placeholder="Telephone" required>
    </div>
</div>
