.app-body {
    font-family: Roboto, Arial, sans-serif;
    margin-top:15px;
    margin-bottom: 20px;
    font: "Libre Baskerville";
}
body.app-body {
    overflow: hidden;
}

.app-body .form-control:focus {
  border-color: #9b7b4d !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9b7b4d !important;
}
.app-body h4 {
    color: #9b7b4d;
    font:  400 22px/26px "Libre Baskerville";
}
 .app-body h5 {
    font:  400 20px/24px "Libre Baskerville";
}

 .app-body .btn-secondary {
    background: #9b7b4d !important;
    color:#fff !important;
    border-color:#b38340 !important;
}
.app-body .btn-secondary :hover{
    background: #b38340 !important;
    border: none !important;
}
.modalBlock div {
    margin-left: 5px;
}
.app-body .btn {
    border-radius:0;
}
.app-body input[type='text'] {
    border-radius: 0;
    height:40px !important;
    padding: 8px !important;
    font-size:16px !important;
    color:rgba(0,0,0,0.85)!important;
}
.app-body input[type='email'] {
    border-radius: 0;
    height:40px !important;
    padding: 8px !important;
    font-size:16px !important;
    color:rgba(0,0,0,0.85)!important;
}
.app-body label {
    font-size: 16px !important;
}

.app-body input.ng-touched.ng-invalid {
    border-color: rgba(217, 120, 35, 0.9) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(217, 120, 35,0.6)!important;
}

