/* The container-r */
.container-r {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-r input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-r:hover input ~ .checkmark-r {
    background-color: #ccc;
}

/* When the radio button is checked, add a color background */
.container-r input:checked ~ .checkmark-r {
    background-color: #9b7b4d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-r:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-r input:checked ~ .checkmark-r:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-r .checkmark-r:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
