<div class="form-row company-registration-question">
    <h5>
        In respect of this application, is or has the applicant, director, shareholder, beneficial owner or a close relative
        (living or deceased) ever been a politically exposed person?
    </h5>

    <div class="radiobutton-item clearfix">
        <input ng-model="$ctrl.politicallyExposed"  type="radio" id="crq-yes" value="Yes">
        <label for="crq-yes"><h4>Yes</h4></label>
    </div>
    <div class="radiobutton-item clearfix">
        <input ng-model="$ctrl.politicallyExposed" type="radio" id="crq-no" value="No">
        <label for="crq-no"><h4>No</h4></label>
    </div>
</div>