<h5 class="mb-3">In respect of this application, is or has the applicant, director, shareholder, beneficial owner or a close relative (living or deceased) ever been a politically exposed person?</h5>
<div>
    <label class="container-r">Yes
        <input type="radio" ng-model="$ctrl.question.politicallyExposed" name="radio" value="Yes">
        <span class="checkmark-r"></span>
    </label>
    <label class="container-r">No
        <input type="radio" ng-model="$ctrl.question.politicallyExposed" name="radio" value="No">
        <span class="checkmark-r"></span>
    </label>
</div>