<div class="form-row company-structure-wrap">
    <h3>COMPANY STRUCTURE</h3>
    <div class="persons-info-list-wrap">
        <h4>
            NUMBER OF PERSONS
            <input type="text" class="readonly" name="num-of-persons" value="1">
        </h4>
        <ul class="normalize-ul persons-info-list">
            <li class="pil-item">
                <div class="input-wrap checkbox-wrap">
                    <div><h4>Person also can be...</h4></div>
                    <div class="radiobutton-item clearfix">
                        <input type="checkbox" id="person-checkbox-1" name="personCheckList0[]" value="director">
                        <label for="person-checkbox-1"><h4>Director</h4></label>
                    </div>
                    <div class="radiobutton-item clearfix">
                        <input type="checkbox" id="person-checkbox-2" name="personCheckList0[]" value="shareholder">
                        <label for="person-checkbox-2"><h4>Shareholder</h4></label>
                    </div>
                    <input type="text" name="personCheckListErr0" id="warning">
                    <div class="radiobutton-item clearfix">
                        <input type="checkbox" id="person-checkbox-3" name="personCheckList0[]" value="beneficialOwner">
                        <label for="person-checkbox-3"><h4>Beneficial owner</h4></label>
                    </div>
                </div>
                <div class="input-wrap">
                    <label for="pilNameOfDirector"><h4>Name of person</h4></label>
                    <input type="text" name="pilNameOfPerson0" placeholder="Name Surname" required>
                </div>
                <div class="input-wrap">
                    <label for="pilDOB"><h4>D.O.B.</h4></label>
                    <input type="text" name="pilDOB0" id="pilDOB" data-language="en" placeholder="Date of birth">
                </div>
                <div class="input-wrap">
                    <label for="pilTaxResidency"><h4>Tax Residency</h4></label>
                    <!--<input type="text" name="dilTaxResidency" placeholder="Tax residency">-->
                    <select id="pilTaxResidency" name="pilTaxResidency0" placeholder="Your Placeholder"></select>
                </div>
                <div class="input-wrap" style="display:none">
                    <label for="pilNumberOfShares0"><h4>Number or % of shares</h4></label>
                    <input type="text" name="pilNumberOfShares0" placeholder="Number or % of shares">
                </div>
                <div class="input-wrap">
                    <label for="pilAddress"><h4>Address</h4></label>
                    <input type="text" name="pilAddress0" placeholder="Address">
                </div>
                <div class="input-wrap">
                    <label for="pilPostcode"><h4>Postcode</h4></label>
                    <input type="text" name="pilPostcode0" placeholder="Postcode">
                </div>
                <div class="input-wrap">
                    <label for="pilCity"><h4>City</h4></label>
                    <input type="text" name="pilCity0" placeholder="City">
                </div>
                <div class="input-wrap">
                    <label for="pilCountry"><h4>Country</h4></label>
                    <select id="pilCountry" name="pilCountry0"></select>
                </div>
                <div class="divider"></div>
            </li>
        </ul>
        <div class="add-new-item add-new-pil btn">Add new</div>
    </div>
</div>